@import url('https://fonts.googleapis.com/css2?family=Chenla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chenla&family=Moulpali&display=swap');

* {
    box-sizing: border-box;
    /* outline: none !important; */
    /* color: #fff; */
}
body {
    font-family: 'Chenla', cursive;
    width: 100%;
    background-size: cover;
    background-position: fixed;
    /* color: #fff !important; */
}

p.Modal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  max-width: 100px;
  border-radius: 50%;
}
.container {
  padding: 16px;
  width: 100%;
}
/* bottom container */
.container1 {
  padding: 16px;
  width: 100%;
  text-align: center;
  color: #000;
  background-color: rgb(248, 248, 248);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar-toggle{
    margin-right: auto;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.navbar-brand{
    font-family: 'Moulpali', cursive;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none !important;
  display: inline-block;
  background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: 2px solid rgb(39, 154, 255) !important;
  box-shadow: 0px 0px 4px 3px rgba(0, 162, 255, 0.586);
}
button {
  /* background-color: #4CAF50; */
  color: #fff;
  margin: 8px 0;
  border: none;
  opacity: 0.9;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #05bbff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
button:hover {
  opacity:1;
}
button.btn_profile:hover, a:hover {
  opacity: 0.7;
}
/* Extra styles for the cancel button */
/* .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
} */
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  height: 45px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.navbar{
  border: none;
    box-shadow: 0px 6px 7px -3px #a5a5a5;
    border-radius: 0;
    background: #fff;
  }

.input:hover {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#Timedemo{
  font-family: Arial, Helvetica, sans-serif !important;
}
.tablinkPage{
 margin: 0;
 padding: 5px;
 background-color: #fff;
 color: #000;
font-size: 15px;
}
.tablinkPage:hover{
  background: #ddd;
  color: rgb(0, 0, 0);
  box-shadow: 0px 6px 7px -3px #a5a5a5;
  
}

.pagination{
  margin: auto;
  text-align: center;
}

.footerMenu, .footer{
  width: 100%;
  background-size: cover;
}
/* jssor slider loading skin spin css */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.jssor_1{
  position:relative;
  margin:0 auto;
  top:0px;
  left:0px;
  width:100%;
  height:auto;
  overflow:hidden;
  visibility:hidden;
  box-shadow: 0px 6px 7px -3px #a5a5a5;
}

@keyframes jssorl-009-spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}


.jssorb053 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb053 .i .b {
    fill: #fff;
    fill-opacity: 0.5;
}
.jssorb053 .i:hover .b {
    fill-opacity: .7;
}

.jssorb053 .iav .b {
  fill-opacity: 1;
}

.jssorb053 .i.idn {
  opacity: .3;
}

.jssora093 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora093 .c {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}

.jssora093 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}

.jssora093:hover {
  opacity: .8;
}

.jssora093.jssora093dn {
  opacity: .6;
}

.jssora093.jssora093ds {
  opacity: .3;
  pointer-events: none;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
    color: #000  !important;
    background: #fff !important;
}
.navbar-inverse .navbar-nav>li>a{
    color: #000 !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #000 !important;
    background: #ddd !important;
}
.dropdown-toggle:focus{
    background: #ddd;
}
.navbar-inverse .navbar-nav>.open>a{
    background: #ddd !important;
}
.navbar-inverse .navbar-brand{
  color: #000;
}
.navbar-inverse .navbar-brand:hover{
  color: #000;
  background: #ddd;
}
a{
  font-size: 15px !important;
}

/* ====================== Gallery 2============================== */
.jssorb051 .i {
  position:
  absolute;
  cursor:pointer;
}
.jssorb051 .i .b {
  fill:#fff;
  fill-opacity:0.5;
  stroke:#000;
  stroke-width:400;
  stroke-miterlimit:10;
  stroke-opacity:0.5;
}
.jssorb051 .i:hover .b {
  fill-opacity:.7;
}
.jssorb051 .iav .b {
  fill-opacity: 1;
}
.jssorb051 .i.idn {
  opacity:.3;
}
.tabcontent{
  margin: auto;
  text-align: center;
  align-items: center;
}
.slider1_container{
  position: relative; 
  top: 0px; 
  left: auto; 
  width: 809px; 
  height: 456px; 
  overflow: hidden;
}
.grid-container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px -1px #a5a5a5;
}

/* ===============================  Crad Profile ========================================== */
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}


img.profile{
border-radius: 10px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}



.card_1{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.col-sm-3>img,.slide_form{
  width: 100%;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* <!-- =================================== contact  =================================== --> */

    
  /* style inputs and link buttons */
  input[type="text"],input[type="password"],input[type="submit"],
  .btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .btn_1{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    background: #000;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input[type=submit]:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
    cursor: pointer;
  }
  
  input[type=submit]:focus {
    background-color: #ddd;
  /* outline: 2px solid rgb(39, 154, 255) !important; */
  outline: hidden;
  box-shadow: 0px 0px 4px 3px rgba(0, 162, 255, 0.586);
  }
  
  
  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  
  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  

    
    /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 650px) {
      .col {
        width: 100%;
        margin-top: 0;
      }
      /* hide the vertical line */
      .vl {
        display: none;
      }
      /* show the hidden text on small screens */
      .hide-md-lg {
        display: block;
        text-align: center;
      }
    }

/* ========================= Tabe ============================ */
.col-lg-1, 
.col-lg-10, 
.col-lg-11, 
.col-lg-12, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5, 
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9, 
.col-md-1, 
.col-md-10, 
.col-md-11, 
.col-md-12, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-sm-1, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4, 
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-xs-1, 
.col-xs-10, 
.col-xs-11, 
.col-xs-12, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9{
  padding: 15px !important;
}

/* ========================== Clock =============================== */

canvas#canvas{
  box-shadow: 0px 0px 5px 1px #a5a5a5;
  border-radius: 10%;
  /* max-width: 100px;
  width: 50px;
  height: 100px;
  margin: auto; */
}