@import url('https://fonts.googleapis.com/css2?family=Chenla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chenla&family=Moulpali&display=swap');

* {
    box-sizing: border-box;
    /* outline: none !important; */
    /* color: #fff; */
}
body {
    font-family: 'Chenla', cursive;
    width: 100%;
    background-size: cover;
    background-position: fixed;
    /* color: #fff !important; */
}

p.Modal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  max-width: 100px;
  border-radius: 50%;
}
.container {
  padding: 16px;
  width: 100%;
}
.navbar-toggle{
    margin-right: auto;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.navbar-brand{
    font-family: 'Moulpali', cursive;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none !important;
  display: inline-block;
  background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: 2px solid rgb(39, 154, 255) !important;
  box-shadow: 0px 0px 4px 3px rgba(0, 162, 255, 0.586);
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.navbar{
    border-radius: 0;
    border:1px solid gold;
    border-top: none;
    border-right: none;
    border-left: none;
    background: #fff;
  }

.input:hover {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#Timedemo{
  font-family: Arial, Helvetica, sans-serif !important;
}
.tablinkPage{
 margin: 0;
 padding: 5px;
 background-color: #fff;
 color: #000;
}
.tablinkPage:hover{
  background: #ddd;
  color: rgb(0, 0, 0);
  box-shadow: 0px 6px 7px -3px #a5a5a5;
  
}

.pagination{
  margin: auto;
  text-align: center;
}

.footerMenu, .footer{
  width: 100%;
  background-size: cover;
}
/* jssor slider loading skin spin css */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}


.jssorb053 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb053 .i .b {
    fill: #fff;
    fill-opacity: 0.5;
}
.jssorb053 .i:hover .b {
    fill-opacity: .7;
}

.jssorb053 .iav .b {
  fill-opacity: 1;
}

.jssorb053 .i.idn {
  opacity: .3;
}

.jssora093 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora093 .c {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}

.jssora093 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}

.jssora093:hover {
  opacity: .8;
}

.jssora093.jssora093dn {
  opacity: .6;
}

.jssora093.jssora093ds {
  opacity: .3;
  pointer-events: none;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
    color: #000  !important;
    background: #fff !important;
}
.navbar-inverse .navbar-nav>li>a{
    color: #000 !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #000 !important;
    background: #ddd !important;
}
.dropdown-toggle:focus{
    background: #ddd;
}
.navbar-inverse .navbar-nav>.open>a{
    background: #ddd !important;
}
.navbar-inverse .navbar-brand{
  color: #000;
}
.navbar-inverse .navbar-brand:hover{
  color: #000;
  background: #ddd;
}
a{
  font-size: 15px;
}